{
    "port": 8080,
    "googleAnalyticsId": null,
    "inspector": {
        "enabled": false,
        "host": "localhost",
        "username": "Curviation",
        "password": "Curviation",
        "database": "Curviation"
    }
}
