<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <title>Curviation</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="format-detection" content="telephone=no">
        <meta name="keywords" content="Curviation, Game, Curve, Multiplayer">
        <link rel="author" href="humans.txt" />
        <link rel="icon" type="image/png" href="images/favicon.png" />
        <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/style.css">
        <!-- Google Analytics -->
    </head>
    <body ng-app="CurviationApp" ng-controller="CurviationController">
        <!--[if lt IE 8]>
            <div id="browsehappy">
                <div id="browsehappy-inner">
                    Vous utilisez un navigateur internet trop vieux.<br/>Merci de le <a href="http://browsehappy.com/">mettre à jour</a> afin d'améliorer votre navigation.
                </div>
            </div>
        <![endif]-->
        <header>
            <a href="/#/" class="logo animated">
                <img src="images/logo.svg" alt="Curviation" id="logo" />
                <span class="brand">Curviation</span>
            </a>
        </header>

        <div ng-controller="ProfileController" ng-if="profile">
            <ng-include src="'js/views/profile/link.html'"></ng-include>
            <div id="profile" class="panel" ng-include="'js/views/profile/profile.html'" onload="onLoaded()"></div>
        </div>

        <div id="connecting" ng-if="status === 'connecting'" class="container text-center">
            <h3>Connecting...</h3>
        </div>

        <div id="main" ng-if="status === 'online'" ng-view></div>

        <div id="error" ng-if="status === 'disconnected'" class="container text-center">
            <section class="centered">
                <h3>Something went wrong :(</h3>
                <p>You are not connected to the server.</p>
                <button ng-click="reload()" class="btn btn-default">
                    Try again now!
                </button>
            </section>
        </div>

        <script src="js/dependencies.js"></script>
        <script src="js/Curviation.js"></script>
    </body>
</html>
